.mat-progress-spinner {
  display: inline-block;
  vertical-align: middle;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #00000021;
  z-index: 10001;
}

.message {
  margin-left: 0.5em;
}
