<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-title translate>Parties</mat-card-title>
      <div class="example-table-container">
        <table mat-table [dataSource]="parties">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="partyDisplayedColumns"></tr>
          <tr mat-row (click)="openPartyDetail(row)" *matRowDef="let row; columns: partyDisplayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [length]="partyResultsLength"
        [pageSize]="pageSize"
        [pageIndex]="partyPageIndex"
        (page)="onPartyPageChange($event)"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-card-title translate>Bills of exchange</mat-card-title>
      <div class="example-table-container">
        <table mat-table [dataSource]="billsOfExchange">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="drawerId">
            <th mat-header-cell *matHeaderCellDef>Drawer Id</th>
            <td mat-cell *matCellDef="let row">{{ row.drawerId }}</td>
          </ng-container>
          <ng-container matColumnDef="beneficiaryId">
            <th mat-header-cell *matHeaderCellDef>Beneficiary Id</th>
            <td mat-cell *matCellDef="let row">{{ row.beneficiaryId }}</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="billOfExchangeDisplayedColumns"></tr>
          <tr
            mat-row
            (click)="openBillOfExchangeDetail(row)"
            *matRowDef="let row; columns: billOfExchangeDisplayedColumns"
          ></tr>
        </table>
      </div>

      <mat-paginator
        [length]="billOfExchangeResultsLength"
        [pageSize]="pageSize"
        [pageIndex]="billOfExchangePageIndex"
        (page)="onBillOfExchangePageChange($event)"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
