.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 1em;
}

table {
  width: 100%;
}

mat-card {
  width: max-content;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
